@model tupadportal.Models.Batch

<div class="modal-header bg-info">
    <h5 class="modal-title" id="detailsModalLabel">Batch Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BatchName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot)
        </dd>
        @* Remove or modify this section since Batch no longer has an Address *@
        @* You can either remove the Address display or show a relevant piece of information from the applicants related to the batch. *@

        @* Example: Display a list of barangays for the applicants in the batch *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Barangay)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
